/* pre-requisites */

body {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
}

*,
::after,
::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.row {
  margin: auto;
  max-width: 100%;
}