.profileLander {
  min-height: 100vh;
  width: 100vw;
  margin-top: 2.5%;
  background-color: var(--bg);
  color: var(--text);
}

.profile-card {
  width: 100%;
  max-width: 1000px;
  margin: 20px;
  background: var(--faded-bg);
  color: var(--text);
  border-radius: 0.5rem;
}

.text-mute {
  color: var(--faded-text) !important;
  opacity: 70%;
}

.profile-circle {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E1A21F;
  border: 2px solid #dee2e6;
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.personal-section .form-label,
.delete-section col {
  font-size: 0.85rem;
}

.data-field {
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
}

.data-field+.form-label,
.form-label+.data-field {
  margin-top: 0.15rem;
}

.btn-delete {
  padding: 10px 30px;
  border-radius: 0px;
}

@media (max-width: 767.98px) {
  .profileLander {
    margin-top: 10%;
  }
  .col-sm-6 {
    width: 50%;
  }
}