.navbar {
  background-color: transparent;
  width: 100%;
  margin: auto;
  background-color: #a6cdc6c2;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand-logo img {
  object-fit: contain;
  height: 48px;
  margin: auto;
  display: flex;
}

.navbar-brand-title {
  font-family: "Playwrite RO";
  font-weight: bolder;
}

.navbar-toggler {
  border: none;
  box-shadow: none;
}

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.navbar .btn-theme-toggle {
  border: 2px solid;
  margin: 0px 10px; 
  padding: 5px;
  border-radius: 100%;
  display: flex;
}

.navbar .btn-theme-toggle span {
  margin: auto;
}

.nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0px 0px 3px lightcyan;
}