.navbar {
  background-color: transparent;
  width: 100%;
  margin: auto;
  color: white;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand-logo img {
  object-fit: contain;
  height: 48px;
  margin: auto;
  display: flex;
}

.navbar-brand-title {
  font-family: "Playwrite RO";
  font-weight: bolder;
  color: white;
}

.navbar-toggler {
  border: none;
  box-shadow: none;
}

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.nav-item .nav-link {
  color: white;
}

.nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0px 0px 3px lightcyan;
}